@font-face {
	font-family: 'webbzzl';
	src:  url('../fonts/webbzzl.eot?xvwbta');
	src:  url('../fonts/webbzzl.eot?xvwbta#iefix') format('embedded-opentype'),
	url('../fonts/webbzzl.ttf?xvwbta') format('truetype'),
	url('../fonts/webbzzl.woff?xvwbta') format('woff'),
	url('../fonts/webbzzl.svg?xvwbta#webbzzl') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'webbzzl' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
	content: "\e9ce";
}
.icon-list2:before {
	content: "\e920";
}
.icon-grid2:before {
	content: "\e921";
}
.icon-stack:before {
	content: "\e92e";
}
.icon-pacman:before {
	content: "\e916";
}
.icon-sync:before {
	content: "\f087";
}
.icon-telescope:before {
	content: "\f088";
}
.icon-tools:before {
	content: "\f031";
}
.icon-svg:before {
	content: "\e90c";
}
.icon-font:before {
	content: "\e910";
}
.icon-bootstrap:before {
	content: "\e912";
}
.icon-ecma:before {
	content: "\e913";
}
.icon-social-angular:before {
	content: "\e914";
}
.icon-atom:before {
	content: "\e915";
}
.icon-jquery:before {
	content: "\e917";
}
.icon-js:before {
	content: "\e918";
}
.icon-file-html:before {
	content: "\e906";
}
.icon-file-css:before {
	content: "\e907";
}
.icon-spinner9:before {
	content: "\e982";
}
.icon-star-half:before {
	content: "\e9d8";
}
.icon-star-full:before {
	content: "\e9d9";
}
.icon-heart:before {
	content: "\e9da";
}
.icon-heart-broken:before {
	content: "\e9db";
}
.icon-mark-github:before {
	content: "\f00a";
}
.icon-mobile:before {
	content: "\e958";
}
.icon-home:before {
	content: "\e908";
}
.icon-images:before {
	content: "\e90e";
}
.icon-camera:before {
	content: "\e90f";
}
.icon-music:before {
	content: "\e911";
}
.icon-connection:before {
	content: "\e91b";
}
.icon-book:before {
	content: "\e91f";
}
.icon-profile:before {
	content: "\e923";
}
.icon-folder:before {
	content: "\e92f";
}
.icon-folder-open:before {
	content: "\e930";
}
.icon-price-tags:before {
	content: "\e936";
}
.icon-address-book:before {
	content: "\e944";
}
.icon-truck:before {
	content: "\e9b0";
}
.icon-menu:before {
	content: "\e9bd";
}
.icon-download2:before {
	content: "\e9c5";
}
.icon-man:before {
	content: "\e9dc";
}
.icon-woman:before {
	content: "\e9dd";
}
.icon-man-woman:before {
	content: "\e9de";
}
.icon-plus:before {
	content: "\ea0a";
}
.icon-renren:before {
	content: "\ea99";
}
.icon-sina-weibo:before {
	content: "\ea9a";
}
.icon-qrcode:before {
	content: "\e938";
}
.icon-spinner:before {
	content: "\e97a";
}
.icon-onedrive:before {
	content: "\eaaf";
}
.icon-appleinc:before {
	content: "\eabe";
}
.icon-android:before {
	content: "\eac0";
}
.icon-windows8:before {
	content: "\eac2";
}
.icon-chrome:before {
	content: "\ead9";
}
.icon-firefox:before {
	content: "\eada";
}
.icon-IE:before {
	content: "\eadb";
}
.icon-safari:before {
	content: "\eadd";
}
.icon-opera:before {
	content: "\eade";
}
.icon-html-five:before {
	content: "\eae4";
}
.icon-css3:before {
	content: "\eae6";
}
.icon-list:before {
	content: "\e901";
}
.icon-cog:before {
	content: "\e90a";
}
.icon-react:before {
	content: "\e90b";
}
.icon-file-psd:before {
	content: "\e902";
}
.icon-file-php:before {
	content: "\e903";
}
.icon-siji:before {
	content: "\e91a";
}
.icon-siji2:before {
	content: "\e91c";
}
.icon-ruanjian:before {
	content: "\e91d";
}
.icon-duanzi:before {
	content: "\e91e";
}
.icon-js_1160540_easyicon.net:before {
	content: "\e919";
}
.icon-enhanced_encryption:before {
	content: "\e63f";
}
.icon-import_contacts:before {
	content: "\e0e0";
}
.icon-http:before {
	content: "\e904";
}
.icon-replay:before {
	content: "\e042";
}
.icon-subtitles:before {
	content: "\e048";
}
.icon-fingerprint:before {
	content: "\e90d";
}
.icon-directions_car:before {
	content: "\e531";
}
.icon-event_seat:before {
	content: "\e905";
}
.icon-favorite:before {
	content: "\e87d";
}
.icon-favorite_border:before {
	content: "\e87e";
}
.icon-filter_drama:before {
	content: "\e3dd";
}
.icon-turned_in:before {
	content: "\e8e6";
}
.icon-tablet_android:before {
	content: "\e330";
}
.icon-tablet_mac:before {
	content: "\e331";
}
.icon-tv:before {
	content: "\e333";
}
.icon-chart:before {
	content: "\e909";
}

